body {
  background-color: black;
  color: #dddddd;
margin: 10% 20%
}

h1 {color: red; 
  font-size: 30px;
font-family: Lucida Handwriting, cambria, Arial;}

h3 {color: red; 
  font-size: 24px;
font-family: Arial;}

h5 {font-size: 16px;}

h6 {font-size: 14px}

.exp-header {text-transform: uppercase; 
  text-align: center;
border-top: 1px solid #dddddd;
border-bottom: 1px solid #dddddd;
Background-color: rgba (0,0,0, 0.1)}
