body {
  background-color: brown;
  color: #dddddd;
  font-family: Arial, Helvetica,;
margin: 10% 20%
}

.exp-header {text-transform: uppercase;
  text-align: center;
border-top: 1px solid #dddddd;
border-bottom: 1px solid #dddddd;
Background-color: rgba (0,0,0, 0.1)}
